.body {
    padding: 2% 10%;
}

.image {
    width: 240px;
    height: 180px;
    padding-top: 5%;
}
.projects {
    font-size: 2.5rem;
    color: #767676;
    font-weight: bolder;
    text-align: left;
    padding-left: 28%;
    text-align: left;
}

h3 {
    font-size: 1.5rem;
    color: #767676;
    font-weight: bold;
    padding-right: 6%;
    line-height: 2;
}
h2 {
    font-size: 20px;
    color: #767676;
    font-weight: bolder;
}
p {
    font-size: 12px;
    color: #767676;
    font-weight: bold;
    padding: 0 0 2% 2% ;
}

