
.footer-header {
    background-color: #ffffff;
    color: #707070;
    text-align: center;
    justify-content: center;
    position: absolute; 
    width: 100%;
    z-index: 2;
    padding: 1rem 0;
    margin-bottom: -1rem;
}

